<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleIdentifier</key>
    <string>com.github.pactus-project.pactus.pactus-gui</string>
    <key>CFBundleExecutable</key>
    <string>pactus-gui</string>
    <key>CFBundleName</key>
    <string>pactus-gui</string>
    <key>CFBundleShortVersionString</key>
    <string>%SHORTVERSION%</string>
    <key>CFBundleVersion</key>
    <string>%VERSION%</string>
    <key>CFBundleIconFile</key>
    <string>pactus.icns</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>NSHumanReadableCopyright</key>
    <string>MIT License.</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.15</string>
</dict>
</plist>
