{{/* This template generates gRPC document for https://pactus.org/ */}}---
title: GRPC API Reference
weight: 1
---

Each node in the Pactus network can be configured to use the
[gRPC](https://grpc.io/) protocol for communication.
Here you can find the list of all gRPC methods and messages.

All the amounts and values in gRPC endpoints are in NanoPAC units, which are atomic and the smallest unit in the Pactus blockchain.
Each PAC is equivalent to 1,000,000,000 or 10<sup>9</sup> NanoPACs.

<h2>gRPC Services</h2>

<div id="toc-container">
  <ul class="">
  {{range .Files}}{{- print "" -}}
    {{range .Services}}{{- print "" -}}
    <li> {{.Name}} Service
      <ul>{{$service_name := .FullName}}
        {{range .Methods}}{{- print "" -}}
        <li>
          <a href="#{{$service_name}}.{{.Name}}">
          <span class="rpc-badge"></span> {{.Name}}</a>
        </li>
        {{end}}{{- print "" -}}
      </ul>
    </li>
    {{end}}{{- print "" -}}
  {{end}}{{- print "" -}}
  </ul>
</div>

<div class="api-doc">
{{range .Files}}{{range .Services}}{{- print "\n" -}}

## {{.Name}} Service

{{p .Description}}
{{$service_name := .FullName}}{{range .Methods}}{{- print "\n" -}}

### {{.Name}} <span id="{{$service_name}}.{{.Name}}" class="rpc-badge"></span>

{{p .Description}}

<h4>{{.RequestLongType}} <span class="badge text-bg-info fs-6 align-top">Request</span></h4>

{{with getMessage .RequestLongType  }}{{- print "" -}}
  {{if .HasFields}}{{- print "" -}}
 <table class="table table-bordered table-responsive table-sm">
  <thead>
    <tr><td>Field</td><td>Type</td><td>Description</td></tr>
  </thead>
  <tbody class="table-group-divider">
  {{range .Fields}}{{- print "" -}}
  <tr>
    <td class="fw-bold">{{.Name}}</td>
    <td>{{.Label}} {{.LongType}}</td>
    <td>
    {{if .IsEnum}}(Enum){{end}}{{- print "" -}}
    {{if .IsOneOf}}(OneOf){{end}}{{- print "" -}}
    {{if (index .Options "deprecated"|default false)}}<strong>(Deprecated) </strong>{{end}}{{- print "" -}}
    {{.Description}}
    {{if .DefaultValue}}Default: {{.DefaultValue}}{{end}}{{- print "" -}}
    {{with getEnum .LongType  }}{{- print "" -}}
       <br>Available values:<ul>
      {{range .Values}}{{- print "" -}}
        <li>{{.Name}} = {{.Number}} ({{ .Description }})</li>
      {{end}}{{- print "" -}}
      </ul>
    {{end}}{{- print "" -}}
    </td>
  </tr>
  {{end}}{{- print "" -}}
  </tbody>
</table>
  {{else}}{{- print "" -}}
Message has no fields.
  {{end}}{{- print "" -}}
{{end}}{{- print "" -}}

<h4>{{.ResponseLongType}} <span class="badge text-bg-warning fs-6 align-top">Response</span></h4>

{{with getMessage .ResponseLongType  }}{{- print "" -}}
 <table class="table table-bordered table-responsive table-sm">
  <thead>
    <tr><td>Field</td><td>Type</td><td>Description</td></tr>
  </thead>
  <tbody class="table-group-divider">
  {{range .Fields}}{{- print "" -}}
  <tr>
    <td class="fw-bold">{{.Name}}</td>
    <td>{{.Label}} {{.LongType}}</td>
    <td>
    {{if .IsEnum}}(Enum){{end}}{{- print "" -}}
    {{if .IsOneOf}}(OneOf){{end}}{{- print "" -}}
    {{if (index .Options "deprecated"|default false)}}<strong>(Deprecated) </strong>{{end}}{{- print "" -}}
    {{.Description}}
    {{if .DefaultValue}}Default: {{.DefaultValue}}{{end}}{{- print "" -}}
    {{with getEnum .LongType  }}{{- print "" -}}
       <br>Available values:<ul>
      {{range .Values}}{{- print "" -}}
        <li>{{.Name}} = {{.Number}} ({{ .Description }})</li>
      {{end}}{{- print "" -}}
      </ul>
    {{end}}{{- print "" -}}
    </td>
  </tr>
    {{$msg0 := .}} {{with getMessage .LongType  }}{{- print "" -}}
      {{range .Fields}}{{- print "" -}}
      <tr>
        <td class="fw-bold">{{$msg0.Name}}{{if $msg0.IsRepeated}}[]{{end}}.{{.Name}}</td>
        <td>{{.Label}} {{.LongType}}</td>
        <td>
        {{if .IsEnum}}(Enum){{end}}{{- print "" -}}
        {{if .IsOneOf}}(OneOf){{end}}{{- print "" -}}
        {{if (index .Options "deprecated"|default false)}}<strong>(Deprecated) </strong>{{end}}{{- print "" -}}
        {{.Description}}
        {{if .DefaultValue}}Default: {{.DefaultValue}}{{end}}{{- print "" -}}
        {{with getEnum .LongType  }}{{- print "" -}}
          <br>Available values:<ul>
          {{range .Values}}{{- print "" -}}
            <li>{{.Name}} = {{.Number}} ({{ .Description }})</li>
          {{end}}{{- print "" -}}
          </ul>
        {{end}}{{- print "" -}}
        </td>
      </tr>
        {{$msg1 := .}} {{with getMessage .LongType  }}{{- print "" -}}
          {{range .Fields}}{{- print "" -}}
          <tr>
            <td class="fw-bold">{{$msg0.Name}}{{if $msg0.IsRepeated}}[]{{end}}.{{$msg1.Name}}{{if $msg1.IsRepeated}}[]{{end}}.{{.Name}}</td>
            <td>{{.Label}} {{.LongType}}</td>
            <td>
            {{if .IsEnum}}(Enum){{end}}{{- print "" -}}
            {{if .IsOneOf}}(OneOf){{end}}{{- print "" -}}
            {{if (index .Options "deprecated"|default false)}}<strong>(Deprecated) </strong>{{end}}{{- print "" -}}
            {{.Description}}
            {{if .DefaultValue}}Default: {{.DefaultValue}}{{end}}{{- print "" -}}
            {{with getEnum .LongType  }}{{- print "" -}}
              <br>Available values:<ul>
              {{range .Values}}{{- print "" -}}
                <li>{{.Name}} = {{.Number}} ({{ .Description }})</li>
              {{end}}{{- print "" -}}
              </ul>
            {{end}}{{- print "" -}}
            </td>
          </tr>
          {{end}}{{- print "" -}}
        {{end}}{{- print "" -}}
      {{end}}{{- print "" -}}
    {{end}}{{- print "" -}}
  {{end}}{{- print "" -}}
  </tbody>
{{end}}{{- print "" -}}
</table>
{{end}}{{end}}{{end}}{{- print "\n" -}}

## Scalar Value Types

<table class="table table-bordered table-sm">
  <thead>
    <tr><td>.proto Type</td><td>Go</td><td>C++</td><td>Rust</td><td>Java</td><td>Python</td><td>C#</td></tr>
  </thead>
  <tbody class="table-group-divider">{{range .Scalars}}
      <tr id="{{.ProtoType}}">
        <td class="fw-bold">{{.ProtoType}}</td>
        <td>{{.GoType}}</td>
        <td>{{.CppType}}</td>
        <td>{{.RustType}}</td>
        <td>{{.JavaType}}</td>
        <td>{{.PythonType}}</td>
        <td>{{.CSharp}}</td>
      </tr>{{end}}
  </tbody>
</table>
