{{/* This template generates JSON-RPC document for https://pactus.org/ */}}---
title: JSON-RPC API Reference
weight: 2
---

Every node in the Pactus network can be configured to use the
[JSON-RPC](https://www.jsonrpc.org/specification) protocol for communication.
Here, you can find the list of all JSON-RPC methods, params and result.

## Units

All the amounts are in NanoPAC units,
which are atomic and the smallest unit in the Pactus blockchain.
Each PAC is equivalent to 1,000,000,000 or 10<sup>9</sup> NanoPACs.

## Packages

For seamless integration with Pactus, you can use these client libraries:

- <i class="fa-brands fa-js"></i> [pactus-jsonrpc](https://www.npmjs.com/package/pactus-jsonrpc/) package for Javascript
- <i class="fa-brands fa-python"></i> [pactus-jsonrpc](https://pypi.org/project/pactus-jsonrpc/) package for Python
- <i class="fa-brands fa-rust"></i> [pactus-jsonrpc](https://crates.io/crates/pactus-jsonrpc) package for Rust

## Example

To call JSON-RPC methods, you need to create the JSON-RPC request:

```json
{
  "jsonrpc": "2.0",
  "id": 1,
  "method": "pactus.network.get_node_info",
  "params": {}
}
```

> Make sure you always add the `params` field, even if no parameters are needed, and ensure you use curly braces.

Then you use the `curl` command to send the request to the node:

```bash
curl --location 'http://localhost:8545/' \
--header 'Content-Type: application/json' \
--data '{
    "jsonrpc": "2.0",
    "id": 1,
    "method": "pactus.network.get_node_info",
    "params": {}
}'
```

> Before sending the request, you need to enable the JSON-RPC service inside the
> [configuration](/get-started/configuration/).

### Using Basic Auth

If you have enabled the [gRPC Basic Authentication](/tutorials/grpc-sign-transactions/),
then you need to set the `Authorization` header.

```bash
curl --location 'http://localhost:8545/' \
--header 'Content-Type: application/json' \
--header 'Authorization: Basic <BASIC-AUTH-TOKEN>' \
--data '{
    "jsonrpc": "2.0",
    "id": 1,
    "method": "pactus.blockchain.get_account",
    "params": {
        "address": "pc1z2r0fmu8sg2ffa0tgrr08gnefcxl2kq7wvquf8z"
    }
}'
```

## JSON-RPC Methods

<div id="toc-container">
  <ul class="">
  {{range .Files}}{{- print "" -}}
    {{range .Services}}{{- print "" -}}
    <li> {{.Name}} Service
      <ul>{{$service_name := .SnakeName}}
        {{range .Methods}}{{- print "" -}}
        <li>
          <a href="#{{.SnakeName}}">
          <span class="rpc-badge"></span> {{.SnakeName}}</a>
        </li>
        {{end}}{{- print "" -}}
      </ul>
    </li>
    {{end}}{{- print "" -}}
  {{end}}{{- print "" -}}
  </ul>
</div>

<div class="api-doc">
{{range .Files}}{{range .Services}}{{- print "\n" -}}

### {{.Name}} Service

{{p .Description}}
{{$service_name := .FullName}}{{range .Methods}}{{- print "\n" -}}

#### {{.SnakeName}} <span id="{{.SnakeName}}" class="rpc-badge"></span>

{{p .Description}}

<h4>Parameters</h4>

{{with getMessage .RequestLongType  }}{{- print "" -}}
  {{if .HasFields}}{{- print "" -}}
 <table class="table table-bordered table-responsive table-sm">
  <thead>
    <tr><td>Field</td><td>Type</td><td>Description</td></tr>
  </thead>
  <tbody class="table-group-divider">
  {{range .Fields}}{{- print "" -}}
  <tr>
    <td class="fw-bold">{{.SnakeName}}</td>
    <td>{{.Label}} {{.JSONType}}</td>
    <td>
    {{if .IsEnum}}(Enum){{end}}{{- print "" -}}
    {{if .IsOneOf}}(OneOf){{end}}{{- print "" -}}
    {{if (index .Options "deprecated"|default false)}}<strong>(Deprecated) </strong>{{end}}{{- print "" -}}
    {{.Description}}
    {{if .DefaultValue}}Default: {{.DefaultValue}}{{end}}{{- print "" -}}
    {{with getEnum .LongType  }}{{- print "" -}}
       <br>Available values:<ul>
      {{range .Values}}{{- print "" -}}
        <li>{{.Name}} = {{.Number}} ({{ .Description }})</li>
      {{end}}{{- print "" -}}
      </ul>
    {{end}}{{- print "" -}}
    </td>
  </tr>
  {{end}}{{- print "" -}}
  </tbody>
</table>
  {{else}}{{- print "" -}}
Parameters has no fields.
  {{end}}{{- print "" -}}
{{end}}{{- print "" -}}

<h4>Result</h4>

{{with getMessage .ResponseLongType  }}{{- print "" -}}
 <table class="table table-bordered table-responsive table-sm">
  <thead>
    <tr><td>Field</td><td>Type</td><td>Description</td></tr>
  </thead>
  <tbody class="table-group-divider">
  {{range .Fields}}{{- print "" -}}
  <tr>
    <td class="fw-bold">{{.Name}}</td>
    <td>{{.Label}} {{.JSONType}}</td>
    <td>
    {{if .IsEnum}}(Enum){{end}}{{- print "" -}}
    {{if .IsOneOf}}(OneOf){{end}}{{- print "" -}}
    {{if (index .Options "deprecated"|default false)}}<strong>(Deprecated) </strong>{{end}}{{- print "" -}}
    {{.Description}}
    {{if .DefaultValue}}Default: {{.DefaultValue}}{{end}}{{- print "" -}}
    {{with getEnum .LongType  }}{{- print "" -}}
       <br>Available values:<ul>
      {{range .Values}}{{- print "" -}}
        <li>{{.Name}} = {{.Number}} ({{ .Description }})</li>
      {{end}}{{- print "" -}}
      </ul>
    {{end}}{{- print "" -}}
    </td>
  </tr>
    {{$msg0 := .}} {{with getMessage .LongType  }}{{- print "" -}}
      {{range .Fields}}{{- print "" -}}
      <tr>
        <td class="fw-bold">{{$msg0.Name}}{{if $msg0.IsRepeated}}[]{{end}}.{{.Name}}</td>
        <td>{{.Label}} {{.JSONType}}</td>
        <td>
        {{if .IsEnum}}(Enum){{end}}{{- print "" -}}
        {{if .IsOneOf}}(OneOf){{end}}{{- print "" -}}
        {{if (index .Options "deprecated"|default false)}}<strong>(Deprecated) </strong>{{end}}{{- print "" -}}
        {{.Description}}
        {{if .DefaultValue}}Default: {{.DefaultValue}}{{end}}{{- print "" -}}
        {{with getEnum .LongType  }}{{- print "" -}}
          <br>Available values:<ul>
          {{range .Values}}{{- print "" -}}
            <li>{{.Name}} = {{.Number}} ({{ .Description }})</li>
          {{end}}{{- print "" -}}
          </ul>
        {{end}}{{- print "" -}}
        </td>
      </tr>
        {{$msg1 := .}} {{with getMessage .LongType  }}{{- print "" -}}
          {{range .Fields}}{{- print "" -}}
          <tr>
            <td class="fw-bold">{{$msg0.Name}}{{if $msg0.IsRepeated}}[]{{end}}.{{$msg1.Name}}{{if $msg1.IsRepeated}}[]{{end}}.{{.Name}}</td>
            <td>{{.Label}} {{.JSONType}}</td>
            <td>
            {{if .IsEnum}}(Enum){{end}}{{- print "" -}}
            {{if .IsOneOf}}(OneOf){{end}}{{- print "" -}}
            {{if (index .Options "deprecated"|default false)}}<strong>(Deprecated) </strong>{{end}}{{- print "" -}}
            {{.Description}}
            {{if .DefaultValue}}Default: {{.DefaultValue}}{{end}}{{- print "" -}}
            {{with getEnum .LongType  }}{{- print "" -}}
              <br>Available values:<ul>
              {{range .Values}}{{- print "" -}}
                <li>{{.Name}} = {{.Number}} ({{ .Description }})</li>
              {{end}}{{- print "" -}}
              </ul>
            {{end}}{{- print "" -}}
            </td>
          </tr>
          {{end}}{{- print "" -}}
        {{end}}{{- print "" -}}
      {{end}}{{- print "" -}}
    {{end}}{{- print "" -}}
  {{end}}{{- print "" -}}
  </tbody>
{{end}}{{- print "" -}}
</table>
{{end}}{{end}}{{end}}{{- print "" -}}
