<h1>JSON-RPC API Reference</h1>

Each node in the Pactus network can be configured to use the [JSON-RPC 2.0](https://www.jsonrpc.org/specification) protocol for communication.
Here you can find the list of all JSON-RPC methods and messages.

All the amounts and values in JSON-RPC endpoints are in NanoPAC units, which are atomic and the smallest unit in the Pactus blockchain.
Each PAC is equivalent to
 1,000,000,000 or 10<sup>9</sup> NanoPACs.
{{$package := (index .Files 0).Package}}

<h2>Methods</h2>

{{range $file := .Files}}
{{range $service := $file.Services}}
{{range $method := $service.Methods}}

<a href="#{{rpcMethod $package $service.Name $method.Name}}">{{rpcMethod $package $service.Name $method.Name}}</a>
{{end}}
{{end}}
{{end}}

<hr/>
{{range $file := .Files}}
{{range $service := $file.Services}}
{{range $method := $service.Methods}}
<a id="{{rpcMethod $package $service.Name $method.Name}}"></a>
<h3>{{rpcMethod $package $service.Name $method.Name}} <span class="badge text-bg-primary fs-6 align-top">Method</span></h3>

{{$package | lower}}.{{$service.Name | lower}}.{{toJsonRpc $method.Description $method.Name}}

<h3>Parameters</h3>
<pre>
<code>
{{$method.Params}}
</code>
</pre>

<h3>Result</h3>
<pre>
{{$method.Result}}
</pre>
<hr/>

{{end}}
{{end}}
{{end}}
