on: [pull_request]
name: Compile libbls384_256 and test
jobs:
  bls-test:
    runs-on: ubuntu-latest

    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16.x

    - name: Checkout code
      uses: actions/checkout@v2

    - name: Test with BLS library
      run: make bls && make test_with_bls
