name: Reporting test coverage

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  coverage:
    runs-on: ubuntu-latest

    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.19

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Installing libzmq
      run: |
        sudo apt update
        sudo apt install libzmq

      - name: Test with coverage
        run: go test -gcflags=-l -coverprofile=coverage.txt -covermode=atomic ./...

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          file: ./coverage.txt
