on:
  push:
    branches:
      - main
name: Building Docker
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Build docker
      run: make docker
