name: Building and testing GUI

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  ########################################
  build-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install Dependencies
      run: |
        sudo apt update
        sudo apt install libgtk-3-dev libcairo2-dev libglib2.0-dev

    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.22.2'

    - name: Build the binary
      run: make build_gui

    - name: Installing golangci-lint
      run: go install github.com/golangci/golangci-lint/cmd/golangci-lint@v1.54.1

    - name: Lint check
      run: BUILD_TAG=gtk make check

  ########################################
  build-macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install Dependencies
      run: brew install gtk+3

    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.22.2'

    - name: Build the binary
      run: make build_gui

  ########################################
  build-windows:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:

    - uses: actions/checkout@v4

    - uses: msys2/setup-msys2@v2
      with:
        msystem: MINGW64
        install:
          git
          make
          glib2-devel
          mingw-w64-x86_64-go
          mingw-w64-x86_64-gtk3
          mingw-w64-x86_64-glib2
          mingw-w64-x86_64-gcc
          mingw-w64-x86_64-pkg-config

    - name: Print go version
      run: go version

    - name: Build the binary
      run: |
        # This fixes a bug in pkgconfig: invalid flag in pkg-config --libs: -Wl,-luuid
        sed -i -e 's/-Wl,-luuid/-luuid/g' /mingw64/lib/pkgconfig/gdk-3.0.pc
        make build_gui
