name: Building and testing GUI

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  ########################################
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install libgtk-3-dev libcairo2-dev libglib2.0-dev
          sudo apt-get install -y libzmq3-dev

      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - name: Build the binary
        run: make build_gui

      - name: Installing golangci-lint
        run: go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest

      - name: Lint check
        run: BUILD_TAG=gtk make check

  ########################################
  build-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Dependencies
        run: brew install jpeg gobject-introspection gtk+3 adwaita-icon-theme zmq

      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - name: Build the binary
        run: make build_gui

  ########################################
  build-windows:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          install: git
            make
            mingw-w64-x86_64-gtk3
            mingw-w64-x86_64-glib2
            mingw-w64-x86_64-go
            mingw-w64-x86_64-gcc
            mingw-w64-x86_64-pkg-config
            mingw-w64-x86_64-zeromq
            mingw-w64-x86_64-libsodium
            glib2-devel

      - uses: actions/checkout@v3

      - name: Build the binary
        run: |
          # This fixes a bug in pkgconfig: invalid flag in pkg-config --libs: -Wl,-luuid
          sed -i -e 's/-Wl,-luuid/-luuid/g' /mingw64/lib/pkgconfig/gdk-3.0.pc
          make build_gui
