name: Building and testing GUI

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Install Dependencies
      run: sudo apt install libgtk-3-dev libcairo2-dev libglib2.0-dev

    - name: Install Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.18

    # Remove glib_2_66 tag later. Related to this issue: https://github.com/gotk3/gotk3/issues/838
    - name: Build the binary
      run: go build -ldflags "-s -w" -tags glib_2_66,gtk -o ./build/zarb-gui ./cmd/gtk

  build-macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3

    - name: Install Dependencies
      run: brew install gobject-introspection gtk+3 adwaita-icon-theme

    - name: Install Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.18

    - name: Build the binary
      run: go build -ldflags "-s -w" -tags gtk -o ./build/zarb-gui ./cmd/gtk

  build-windows:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:

    - uses: msys2/setup-msys2@v2
      with:
        msystem: MINGW64
        update: true
        install:
          git
          mingw-w64-x86_64-gtk3
          mingw-w64-x86_64-glib2
          mingw-w64-x86_64-go
          glib2-devel

    - uses: actions/checkout@v3

    - name: Build Windows binary
      run: |
        go build -ldflags "-s -w" -tags glib_2_66,gtk -o ./build/zarb-gui.exe ./cmd/gtk
