name: Lint and format check

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  linting:
    runs-on: ubuntu-latest

    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        # Please upgrade to go.18 if this issue is closed:
        # https://github.com/golangci/golangci-lint/issues/2649
        go-version: 1.17.x

    - name: Checkout code
      uses: actions/checkout@v3

    - name: Installing golangci-lint
      run: go install github.com/golangci/golangci-lint/cmd/golangci-lint

    - name: Formatting and linting the project
      run: make check
