name: Lint and format check

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  linting:
    runs-on: ubuntu-latest

    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.19

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Installing libzmq
        run: |
          sudo apt update
          sudo apt-get install -y libzmq3-dev

      - name: Installing golangci-lint
        run: go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest

      - name: Formatting and linting the project
        run: make check
