name: Lint and Format Check
permissions:
  contents: read

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  linting:
    runs-on: ubuntu-latest

    steps:
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.23.5"

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Installing golangci-lint
        run: |
          go install github.com/golangci/golangci-lint/cmd/golangci-lint@v2.2.2
          go install github.com/bufbuild/buf/cmd/buf@v1.55

      - name: Formatting and linting the project
        run: make check

      - name: Formatting and linting the proto files
        run: make proto-check
