## Important Notes:
## 1. The Releaser workflow is triggered when a new tag is pushed to the repository.
## 2. The Packager workflow is triggered when the Releaser workflow completes successfully.
## 3. GitHub always executes this workflow using the version from the main branch
## 4. To package the correct release, it checks out the latest tag.
##
name: Packager
permissions:
  contents: read
  id-token: write

on:
  workflow_run:
    workflows: ["Releaser"]
    types: ["completed"]

jobs:
  packager:
    runs-on: ubuntu-latest
    if: github.event.workflow_run.conclusion == 'success'

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Determine Release Type
        run: |
          LATEST_TAG=$(git describe --tags `git rev-list --tags --max-count=1`)
          echo "Latest tag: $LATEST_TAG"

          if [[ "$LATEST_TAG" =~ ^v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "Final release detected."
            DRY_RUN=false
          elif [[ "$LATEST_TAG" =~ ^v[0-9]+\.[0-9]+\.[0-9]+-rc[0-9]+$ ]]; then
            echo "Pre-release detected, using dry-run."
            DRY_RUN=true
          else
            echo "Tag $LATEST_TAG is invalid."
            exit 1
          fi

          echo "LATEST_TAG=$LATEST_TAG" >> $GITHUB_ENV
          echo "DRY_RUN=$DRY_RUN" >> $GITHUB_ENV
          git checkout $LATEST_TAG

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "20"
          registry-url: "https://registry.npmjs.org"

      - name: Create Packages
        run: bash ./.github/packager/packager.sh
        env:
          VERSION: ${{ env.LATEST_TAG }}

      - name: Upload `package-js-grpc` package
        uses: actions/upload-artifact@v6
        with:
          name: package-js-grpc
          path: packages/js/pactus-grpc

      - name: Upload `package-js-jsonrpc` package
        uses: actions/upload-artifact@v6
        with:
          name: package-js-jsonrpc
          path: packages/js/pactus-jsonrpc

      - name: Upload `package-python-grpc` package
        uses: actions/upload-artifact@v6
        with:
          name: package-python-grpc
          path: packages/python/pactus-grpc

      - name: Upload `package-python-jsonrpc` package
        uses: actions/upload-artifact@v6
        with:
          name: package-python-jsonrpc
          path: packages/python/pactus-jsonrpc

      - name: Upload `package-rust-grpc` package
        uses: actions/upload-artifact@v6
        with:
          name: package-rust-grpc
          path: packages/rust/pactus-grpc

      - name: Upload `package-rust-jsonrpc` package
        uses: actions/upload-artifact@v6
        with:
          name: package-rust-jsonrpc
          path: packages/rust/pactus-jsonrpc

  publish-npm-grpc:
    name: Publish pactus-grpc package to npm
    needs: packager
    runs-on: ubuntu-latest

    environment:
      name: npmjs.com
      url: https://npmjs.com/package/pactus-grpc

    steps:
      - name: Download JavaScript Package
        uses: actions/download-artifact@v6
        with:
          name: package-js-grpc

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "20"
          registry-url: "https://registry.npmjs.org"

      - name: Publish to npm
        run: |
          if [[ "${{ env.DRY_RUN }}" == "true" ]]; then
            echo "Dry-run: npm publish --access public --dry-run"
            npm publish --access public --dry-run
          else
            npm publish --access public
          fi
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPMJS_ACCESS_TOKEN }}

  publish-npm-jsonrpc:
    name: Publish pactus-jsonrpc package to npm
    needs: packager
    runs-on: ubuntu-latest

    environment:
      name: npmjs.com
      url: https://npmjs.com/package/pactus-jsonrpc

    steps:
      - name: Download JavaScript Package
        uses: actions/download-artifact@v6
        with:
          name: package-js-jsonrpc

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "20"
          registry-url: "https://registry.npmjs.org"

      - name: Publish to npm
        run: |
          if [[ "${{ env.DRY_RUN }}" == "true" ]]; then
            echo "Dry-run: npm publish --access public --dry-run"
            npm publish --access public --dry-run
          else
            npm publish --access public
          fi
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPMJS_ACCESS_TOKEN }}

  publish-pypi-grpc:
    name: Publish pactus-grpc package to PyPI
    needs: packager
    runs-on: ubuntu-latest

    environment:
      name: pypi.org
      url: https://pypi.org/p/pactus-grpc

    steps:
      - name: Download Python Package
        uses: actions/download-artifact@v6
        with:
          name: package-python-grpc

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install build tools and build Python wheel
        run: |
          python3 -m pip install build --user
          python3 -m build

      - name: Publish distribution to PyPI
        if: ${{ env.DRY_RUN == 'false' }}
        uses: pypa/gh-action-pypi-publish@release/v1

  publish-pypi-jsonrpc:
    name: Publish pactus-jsonrpc package to PyPI
    needs: packager
    runs-on: ubuntu-latest

    environment:
      name: pypi.org
      url: https://pypi.org/p/pactus-jsonrpc

    steps:
      - name: Download Python Package
        uses: actions/download-artifact@v6
        with:
          name: package-python-jsonrpc

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install build tools and build Python wheel
        run: |
          python3 -m pip install build --user
          python3 -m build

      - name: Publish distribution to PyPI
        if: ${{ env.DRY_RUN == 'false' }}
        uses: pypa/gh-action-pypi-publish@release/v1

  publish-crates-grpc:
    name: Publish pactus-grpc package to crates.io
    needs: packager
    runs-on: ubuntu-latest
    container:
      image: rust:1.87

    environment:
      name: crates.io
      url: https://crates.io/crates/pactus-grpc

    steps:
      - name: Download Rust Package
        uses: actions/download-artifact@v6
        with:
          name: package-rust-grpc

      - name: Publish to crates.io
        run: |
          if [[ "${{ env.DRY_RUN }}" == "true" ]]; then
            echo "Dry-run: cargo publish --dry-run"
            cargo publish --dry-run
          else
            cargo publish
          fi
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}

  publish-crates-jsonrpc:
    name: Publish pactus-jsonrpc package to crates.io
    needs: packager
    runs-on: ubuntu-latest
    container:
      image: rust:1.87

    environment:
      name: crates.io
      url: https://crates.io/crates/pactus-jsonrpc

    steps:
      - name: Download Rust Package
        uses: actions/download-artifact@v6
        with:
          name: package-rust-jsonrpc

      - name: Publish to crates.io
        run: |
          if [[ "${{ env.DRY_RUN }}" == "true" ]]; then
            echo "Dry-run: cargo publish --dry-run"
            cargo publish --dry-run
          else
            cargo publish
          fi
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
